@import '../../styles/variables';

.modal-content {
    background-color: $color3 !important;
}

.modal-header {
    font-family: $header-font;
    border-bottom: 1px solid black;
}
.select-group {
    padding-left: 8px;
}

.from-email{
 padding-left: 0px;
}