$color1:rgb(4,21,31);
$color2: rgb(46,64,82);
$color3: rgb(209,198,173);
$color4: rgb(170,99,115);
$color5: rgb(187,173,160);
$color6:#BEA8A7; //modal color
$color7: rgb(238, 216, 215); //home page
$color8: #fbf7f5; // home page
$color9:rgb(77,126,168);
$color10: rgba(202, 199, 197, 0.959);
$color11: black;
$color12: rgb(43, 25, 11);
$color13:rgb(88,159,89);
$color14:rgb(253, 226, 230);
$color15: #D1CFE2;


$header-font: 'Noto Sans JP', sans-serif;
$body-font: 'Noto Serif JP', serif;