$color1:rgb(4,21,31);
$color2: white;
$color3: bisque;
$color4: rgb(170,99,115);
$color5: rgb(233, 185, 140);
$color6:#BEA8A7; //modal color
$color7: rgb(238, 216, 215); //home page
$color8: #fbf7f5; // home page
$color9:rgb(77,126,168);
$color11: black;
$color12: rgb(43, 25, 11);
$color14:rgb(253, 226, 230);

$header-font: 'Noto Sans JP', sans-serif;
$body-font: 'Noto Serif JP', serif;