$color1:rgb(4,21,31);
$color2: rgb(46,64,82);
$color3: rgb(209,198,173);
$color4: rgb(170,99,115);
$color5: rgb(187,173,160);
$color6: rgb(255,184,111);
$color7: rgb(212,230,181);
$color8: rgb(179,140,180);
$color9:rgb(77,126,168);
$color10: rgba(202, 199, 197, 0.959);
$color11: black;
$color12:red;
$color13:rgb(88,159,89);
$color14:blue;


$header-font: 'Noto Sans JP', sans-serif;
$body-font: 'Noto Serif JP', serif;