@import '../../../styles/variables';
.profile-card {
    margin-top: 80px;
    width: 40%;
}

.edit-form-container {
    margin-top: 160px;
}

.header {
color: $color12;
}

.edit {
    background-color: $color5 !important; 
    color:$color12 !important;
}

.bttn-jelly {
    color:$color12 !important
}

.bttn-jelly:focus {
    outline: none;
  }
  